@import "~bulma/sass/utilities/_all";

$h-borderthickness: 3px;
$h-bordercolor: $black;
$h-border: $h-borderthickness solid $h-bordercolor;

$h-dotpadding: 10px;
$h-dotspadding: 4em;
$h-dotpadding-active: 0.2em;

$h-menuitempadding: 1.5em;

$h-markersize: 24px;
$h-markermargin: 3px;

$hComboGridSize: 295px;