@import "~bulma/sass/utilities/_all";

$h-borderthickness: 3px;
$h-bordercolor: $black;
$h-border: $h-borderthickness solid $h-bordercolor;

$h-dotpadding: 0.8em;
$h-dotspadding: 4em;
$h-dotpadding-active: 0.2em;

$h-menuitempadding: 1.5em;
